body {
   background-color: #34495e;
}

.row-is-customized {
   display: flex;
   flex-wrap: wrap;
   margin-left: -15px;
   margin-right: -15px;
}

.row-is-customized .col {
   display: flex;
}

.card.is-customized {
   width: 100%;
}

.card.is-customized .card-content {
   padding: 20px 15px 17px 15px;
   line-height: 17px;
}

.card.is-customized .card-content .card-title {
   font-size: 20px;
   font-weight: 400;
   color: #000;
}

.card.is-customized:hover .card-content .card-title {
   text-decoration: underline;
}

.card.is-customized .text-date {
   display: flex;
   align-items: center;
}

.card.is-customized .text-date .value {
   margin-left: 7px;
   color: #000;
}

.card.is-customized .text-date .svg-icon {
   width: 20px;
   height: 20px;
}

.card.is-customized .text-date .svg-icon path {
   fill: #000;
}

.loader-page {
   margin: 5rem auto;
   text-align: center;
}

.loader-page svg {
   height: 5.5rem;
   width: 5.5rem;
   fill: #1e88e5;
   transform-origin: 44% 50%;
   animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
   0% {
      transform: rotate(0);
   }

   100% {
      transform: rotate(360deg);
   }
}

.main-banner {
   padding: 90px 40px 90px 350px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center 25%;
   background-blend-mode: multiply;
   background-color: #0000004d;
}

.main-banner .first-title {
   font-size: 38px;
   margin-top: 0;
   color: #fff;
}

.main-banner .tagline-title {
   font-size: 20px;
   color: #fff;
}

@media screen and (max-width: 992px) {
   .main-banner {
      padding: 20px 40px 20px 40px;
   }
   .main-banner .first-title {
      font-size: 21px;
   }
   .main-banner .tagline-title {
      font-size: 16px;
   }

   .card.is-customized .card-content .card-title {
      font-size: 14px;
   }
   .card.is-customized .text-date {
      font-size: 14px;
   }
}