.row-is-customized {
   display: flex;
   flex-wrap: wrap;
   margin-left: -15px;
   margin-right: -15px;
}

.row-is-customized .col {
   display: flex;
}

.card.is-customized {
   width: 100%;
}

.card.is-customized .card-content {
   padding: 20px 15px 17px 15px;
   line-height: 17px;
}

.card.is-customized .card-content .card-title {
   font-size: 20px;
   font-weight: 400;
}

.card.is-customized .text-date {
   display: flex;
   align-items: center;
}

.card.is-customized .text-date .value {
   margin-left: 7px;
}

.card.is-customized .text-date .svg-icon {
   width: 20px;
   height: 20px;
}

.card.is-customized .text-date .svg-icon path {
   fill: #000;
}

.loader-page {
   margin: 5rem auto;
   text-align: center;
}

.loader-page svg {
   height: 5.5rem;
   width: 5.5rem;
   fill: #F59A83;
   transform-origin: 44% 50%;
   animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
   0% {
      transform: rotate(0);
   }

   100% {
      transform: rotate(360deg);
   }
}